<div class="basket-container">
  
  <div class="basket-header">
    <button class="back-btn" routerLink="/home"> 
      <i class="fa-solid fa-arrow-left"></i> </button>
  </div>

  <div class="cart-item-card">
    
    <button class="remove-btn">✕</button>

    <div class="item-image">
      <img src="mediaExample.PNG" alt="Volkswagen Passat Navigation">
    </div>

    <div class="item-details">
      <h3>Volkswagen Passat B6 B7 2010-2015</h3>
      <p class="item-price">Цена: 270 лв <span class="price-secondary">(138.05€)</span></p>
    </div>

    <div class="quantity-controls">
      <button class="qty-btn">+</button>
      <input type="text" value="1" readonly class="qty-input">
      <button class="qty-btn">-</button>
    </div>
  </div>

  <div class="basket-footer">
    <div class="total-price">Общо: 270лв</div>
    <button class="buy-btn" routerLink="/basket-plus">Купи</button>
  </div>

</div>
