<div class="search-page-container">
  
  <div class="search-bar-section">
    <input type="text" class="search-input" placeholder="Търсене...">
    <button class="search-btn">Търси</button>
  </div>

  <h3 class="results-label">Резултати от търсенето:</h3>

  <div class="results-grid">
    
    <div class="product-card">
      <div class="img-container">
        <img src="mediaExample.PNG" alt="Volkswagen Passat">
      </div>
      <div class="card-info">
        <h4>Volkswagen Passat B6 B7 2010-2015</h4>
        <p class="price">От 270 лв <span class="price-euro">(138.05€)</span></p>
        <button class="view-btn">Виж повече</button>
      </div>
    </div>

    <div class="product-card">
      <div class="img-container">
        <img src="mediaExample.PNG" alt="Volkswagen Passat">
      </div>
      <div class="card-info">
        <h4>Volkswagen Passat B6 B7 2010-2015</h4>
        <p class="price">От 270 лв <span class="price-euro">(138.05€)</span></p>
        <button class="view-btn">Виж повече</button>
      </div>
    </div>

    </div>
</div>
