<nav>
    <div class="menu-icon" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <ul class="nav-links" [class.active]="isMenuOpen">
        <li><a (click)="scrollToSection('hero-banner')">Начало</a></li>
        <li><a (click)="scrollToSection('media-catalog')">Мултимедии</a></li>
        <li><a (click)="scrollToSection('accessories-catalog')">Аксесоари</a></li>
        <li><a (click)="scrollToSection('services')">Услуги</a></li>
        <li><a (click)="scrollToSection('contacts')">Контакти</a></li>
        <li><a routerLink="/basket-shop"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
    </ul>
</nav>