<div class="modal-overlay">
  <div class="modal-content">
    <button class="close-icon" (click)="close()">
        <i class="fa-solid fa-times"></i>
    </button>
    <div class="modal-header">
      <h3>Желаете ли професионален монтаж?</h3>
      <p>Спестете време! Ние ще дойдем на адрес и ще монтираме медията.</p>
    </div>

    <div class="upsell-option">
      <div class="option-info">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <div class="text">
          <strong>Монтаж на адрес (София)</strong>
          <span>+70.00 лв</span>
        </div>
      </div>
      <label class="switch">
        <input type="checkbox" (change)="toggleInstallation($event)">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="accessories-section">
      <h4>Добави полезни аксесоари:</h4>
      <div class="accessory-grid">
        
        <div class="accessory-card">
          <img src="assets/camera.png" alt="Камера"> 
          <div class="acc-details">
            <span>Задна камера</span>
            <span class="price">+15 лв</span>
          </div>
          <button class="add-btn" 
                  (click)="addAccessory('Задна камера', 15, 'assets/camera.png', 'acc-cam-01')">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
        
        <div class="accessory-card">
          <img src="assets/obd.png" alt="OBD">
          <div class="acc-details">
            <span>OBD скенер</span>
            <span class="price">+20 лв</span>
          </div>
          <button class="add-btn" 
                  (click)="addAccessory('OBD Скенер', 20, 'assets/obd.png', 'acc-obd-01')">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <button class="btn-black" routerLink="/checkout">Продължи към плащане</button>
    </div>

  </div>
</div>