<div class="main-card">
    <div class="img-container">
        <img src="servicesImg.png" alt="Монтаж на мултимедия">
    </div>
    
    <div class="text-content">
        <h1>Монтаж на адрес</h1>
        
        <p class="description">
            Искате перфектен резултат без главоболия? Ние предлагаме бърз и качествен монтаж на всички видове мултимедийни системи, 
            <strong>без следи от интервенция по таблото</strong>.
            <br><br>
            Спестете време – ние идваме на адрес при вас! Демонтираме старото радио и слагаме новата медия.
        </p>

        <ul class="service-details">
            <li>
                <i class="fa-solid fa-location-dot"></i> 
                <span><strong>Локация:</strong> Ваш адрес (гр. София)</span>
            </li>
            <li>
                <i class="fa-regular fa-clock"></i> 
                <span><strong>Кога:</strong> Делник след 18:00 / Събота и Неделя</span>
            </li>
            <li>
                <i class="fa-solid fa-stopwatch"></i> 
                <span><strong>Времетраене:</strong> Около 1 час</span>
            </li>
            <li>
                <i class="fa-solid fa-tag"></i> 
                <span><strong>Цена:</strong> <span class="price">70 лв.</span></span>
            </li>
        </ul>

        <button class="cta-button" routerLink="/booking">Запази час</button>
    </div>
</div>
