.main{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px; 
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
    max-width: 1200px; 
    margin: 20px auto; 
    gap: 40px
}

.img{
   flex: 1; 
}

.img img{
    width: 100%; 
    height: auto;
    display: block; 
    object-fit: cover;
}
.text{
    flex: 1; 
    text-align: center; 
    padding: 10px;
}
.text h1{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}
.text p{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6; 
    color: #333;
    margin-bottom: 30px;
}
button{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0; 
    width: 100%; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #333;
}

@media (max-width: 768px) {
    .main{
        flex-direction: column; 
        padding: 15px;
        gap: 20px;
    }

    .img, .text{
        flex: auto;
        width: 100%;
    }
}