<div class="hero-banner" id="hero-banner">
    <img src="Home.png" alt="Car Interior Dashboard">
    
    <div class="hero-overlay">
        <div class="hero-content">
            <h1>Бъдещето на твоя автомобил</h1>
            <p>Премиум мултимедии, навигации и аксесоари с професионален монтаж.</p>
            <button (click)="scrollToCatalog()">Разгледай Каталога</button>
        </div>
    </div>
</div>

<section id="media-catalog">
    <app-media-catalog></app-media-catalog>
</section>

<section id="accessories-catalog">
    <app-accessories-catalog></app-accessories-catalog>
</section>

<section id="services">
    <app-services-catalog></app-services-catalog>
</section>

@if (!isAdmin) {
    <section id="contacts">
        <app-contact></app-contact>
    </section>
}

@if (isAdmin) {
    <section id="admin-orders">
        <app-admin-orders></app-admin-orders>
    </section>
}