<div class="catalog-header">
    <h1 id="catalog" class="section-title">Мултимедии</h1>
    
    @if (isAdmin) {
        <button class="add-new-btn" routerLink="/admin-create">
            <i class="fa-solid fa-plus"></i> Добави нов
        </button>
    }
</div>

<div class="media-catalog">
    @for (item of visibleProducts; track item.id) { <div class="card">
            
            @if (isAdmin) {
                <div class="card-admin-actions">
                    <button class="icon-btn edit-btn" [routerLink]="['/admin/product/edit', item.id]" title="Редактирай">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    
                    <button class="icon-btn delete-btn" (click)="deleteProduct(item.id)" title="Изтрий">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            }

            <div class="img-container">
                <img [src]="item.img" alt="Мултимедия">
            </div>
            <h3>{{ item.title }}</h3>
            <p>От {{ item.price }} лв.</p>
            
            <button [routerLink]="['/product', item.id]">Виж повече</button>
        </div>
    }
</div>

<div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
        <i class="fa-solid fa-chevron-left"></i> Назад
    </button>
    
    <span>Страница {{ currentPage }} от {{ totalPages }}</span>
    
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Напред <i class="fa-solid fa-chevron-right"></i>
    </button>
</div>